a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.navbar {
    padding: 0 !important;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: slateblue;
    color: white;
    height: 100%;
    width: 100%;
}

.cart-div {
    display: flex;
    color: white;
}

.cart-quantity {
    background: crimson;
    border-radius: 50%;
    height: 20px;
    width: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.quantity-div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.quantity-div>button {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-div span {
    padding: 20px;
}

.processed,
.loading {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.processed-status {
    border-radius: 50px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 800px;
    flex-direction: column;
}

.loading-status {
    padding: 100px 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    display: flex;
    flex-direction: row;
}

.checkout-form {
    flex: 1;
}

.items-summary {
    flex: 1;
}